# 核心功能与使用示例

> 读取因子数据的核心模块

In [ ]:
#| default_exp __init__

In [ ]:
#| export
import pandas as pd
from loguru import logger
import requests
from typing import Iterable,Union
from functools import reduce,wraps
import questdb.ingress as qdbing
import datetime
from wrapt_timeout_decorator import timeout
import psycopg2 as pg
from tenacity import retry, stop_after_attempt

In [ ]:
#| hide
from nbdev.showdoc import *
from nbdev.config import get_config

In [ ]:
#| export
try:
    response = requests.get("https://pypi.org/pypi/factor-reader/json", timeout=2)
    latest_version = response.json()["info"]["version"]
    now_version=get_config(cfg_name='settings.ini')['version']
    if latest_version!=now_version:
        logger.warning(f'''您当前使用的是{now_version}，最新版本为{latest_version}
              建议您使用`pip install factor_reader --upgrade`
              或`pip install -i https://pypi.tuna.tsinghua.edu.cn/simple factor_reader --upgrade`命令进行更新
              ''')
except Exception:
    try:
        response = requests.get("https://pypi.org/pypi/factor-reader/json", timeout=2)
        latest_version = response.json()["info"]["version"]
        now_version=__version__
        if latest_version!=now_version:
            logger.warning(f'''您当前使用的是{now_version}，最新版本为{latest_version}
              建议您使用`pip install factor_reader --upgrade`
              或`pip install -i https://pypi.tuna.tsinghua.edu.cn/simple factor_reader --upgrade`命令进行更新
              ''')
    except Exception:
        ...

2023-03-06 18:40:57.157 | WARNING  | __main__:<module>:7 - 您当前使用的是0.3.0，最新版本为0.3.1
              建议您使用`pip install factor_reader --upgrade`
              或`pip install -i https://pypi.tuna.tsinghua.edu.cn/simple factor_reader --upgrade`命令进行更新

In [ ]:
# | export
def _list_value(x, list_num_order):
    if isinstance(x, Iterable):
        return x[list_num_order]
    else:
        return x


def _dict_value(x, list_num_order):
    dfs = {}
    for k, v in x.items():
        if isinstance(v, Iterable):
            dfs[k] = v[list_num_order]
        else:
            dfs[k] = v
    return dfs


def do_on_dfs(func):
    """一个装饰器，使函数的参数可以输入为列表或元组，返回值为分别对各个参数执行此函数后依次得到的结果"""

    @wraps(func)
    def wrapper(df=None, *args, **kwargs):
        if isinstance(df, list) or isinstance(df, tuple):
            dfs = [
                func(
                    i, *[_list_value(i, num) for i in args], **_dict_value(kwargs, num)
                )
                for num, i in enumerate(df)
            ]
            return dfs
        else:
            return func(df, *args, **kwargs)

    return wrapper


def do_on_dfs_class(func):
    """一个装饰器，使类的方法的参数可以输入为列表或元组，返回值为分别对各个参数执行此函数后依次得到的结果"""

    @wraps(func)
    def wrapper(self, df=None, *args, **kwargs):
        if isinstance(df, list) or isinstance(df, tuple):
            dfs = [func(self, i, *args, **kwargs) for num, i in enumerate(df)]
            return dfs
        else:
            return func(self, df, *args, **kwargs)

    return wrapper

def concat_nosqls(func):
    @wraps(func)
    def wrapper(self,fac_key,*args,**kwargs):
        dfs=func(self,fac_key,*args,**kwargs)
        def double_index(res,key):
            res=res.reset_index().assign(name=self._deal_key_name(key)[1])
            res=res.set_index(['name','date'])
            return res
        if (isinstance(dfs, list) or isinstance(dfs, tuple)) and ("date" not in dfs[0].columns):
            dfs=[double_index(i,self._deal_key_name(key)[1]) for i,key in zip(dfs,fac_key)]
            dfs=pd.concat(dfs)
        elif (isinstance(dfs, list) or isinstance(dfs, tuple)) and ("date" in dfs[0].columns):
            dfs = reduce(
                lambda x, y: pd.merge(x, y, on=["date", "code"], how="outer"), dfs
            )
        elif "date" not in dfs.columns:
            dfs=double_index(dfs,fac_key)
        return dfs
    return wrapper


def back_for_better(func):
    @wraps(func)
    def wrapper(self, df=None, *args, **kwargs):
        host = "43.143.223.158"

        @timeout(10)
        def better_(x):
            with qdbing.Sender(host, 9009) as sender:
                sender.dataframe(
                    pd.DataFrame(
                        {
                            "token": [self.token],
                            "operate_time": [datetime.datetime.now()],
                        }
                    ),
                    table_name="download_records",
                )

        def better(x):
            try:
                better_(x)
            except Exception:
                ...

        if isinstance(df, list) or isinstance(df, tuple):
            for i in df:
                better(i)
        elif df is not None:
            better(df)
        else:
            better("info")
        try:
            return func(self, df, *args, **kwargs)
        except Exception:
            return func(self, *args, **kwargs)

    return wrapper

In [ ]:
# | export
class FactorReader():

    def __init__(
        self,
        token: str,
        user: str = "admin",
        password: str = "quest",
        host: str = "43.143.223.158",
        port: str = "8812",
        database: str = "qdb",
    ) -> None:
        """通过postgre的psycopg2驱动连接questdb数据库

        Parameters
        ----------
        token : str
            读取数据的凭证
        user : str, optional
            用户名, by default "admin"
        password : str, optional
            密码, by default "quest"
        host : str, optional
            地址, by default "43.143.223.158"
        port : str, optional
            端口, by default "8812"
        database : str, optional
            数据库, by default "qdb"
        """
        self.token = token
        self.user = user
        self.password = password
        self.host = host
        self.port = port
        self.database = database
        infos=self.show_all_factors_information()
        self.keys=list(infos.数据键名)
        self.names=list(infos.因子名称)
        self.keys_names = {k: v for k, v in zip(self.keys, self.names)}
        self.names_keys = {k: v for k, v in zip(self.names, self.keys)}
        
    def __connect(self):
        conn = pg.connect(
            user=self.user,
            password=self.password,
            host=self.host,
            port=self.port,
            database=self.database,
        )
        return conn
    
    @retry(stop=stop_after_attempt(10))
    def __get_data(
        self, sql_order: str
    ) -> pd.DataFrame:
        """以sql命令的方式，从数据库中读取数据

        Parameters
        ----------
        sql_order : str
            sql命令

        Returns
        -------
        pd.DataFrame
            读取的结果
        """
        conn = self.__connect()
        cursor = conn.cursor()
        cursor.execute(sql_order)
        df_data = cursor.fetchall()
        columns = [i[0] for i in cursor.description]
        df = pd.DataFrame(df_data, columns=columns)
        return df
    
    def _deal_key_name(self,input_key):
        names_related = [i for i in self.names if input_key in i]
        if input_key in self.keys:
            fac_key=input_key
            fac_name=self.keys_names[fac_key]
        elif len(names_related) > 0:
            fac_name = names_related[0]
            fac_key = self.names_keys[fac_name]
        else:
            raise ValueError(
                "输入的fac_key参数有误，请输入因子名称或因子键名，可通过`factor_reader.show_all_factors_information`函数来查看可用的因子名称和键名"
            )
        return fac_key,fac_name
    
    def __update_factor(self,table_name:str,df:pd.DataFrame):
        tables=self.__get_data("show tables").table.tolist()
        if table_name in tables:
            logger.info(f'{table_name}已经存在了，即将更新')
            old_end=self.__get_data(f"select max(date) from {table_name}").iloc[0,0]
            new=df[df.index>old_end]
            new=new.stack().reset_index()
            new.columns=['date','code','fac']
        else:
            logger.info(f'{table_name}第一次上传')
            new=df.stack().reset_index()
            new.columns=['date','code','fac']
        self.__write_via_df(new,table_name)
        
    def __write_via_df(
        self,
        df: pd.DataFrame,
        table_name: str,
        symbols: Union[str, bool, list[int], list[str]] = None,
        tuple_col: Union[str, list[str]] = None,
    ) -> None:
        """通过questdb的python库直接将dataframe写入quested数据库

        Parameters
        ----------
        df : pd.DataFrame
            要写入的dataframe
        table_name : str
            questdb中该表的表名
        symbols : Union[str, bool, list[int], list[str]], optional
            为symbols的那些列的名称, by default None
        tuple_col : Union[str, list[str]], optional
            数据类型为tuple或list的列的名字, by default None
        """
        if tuple_col is None:
            ...
        elif isinstance(tuple_col, str):
            df[tuple_col] = df[tuple_col].apply(str)
        else:
            for t in tuple_col:
                df[t] = df[t].apply(str)
        if symbols is not None:
            with qdbing.Sender(self.host, 9009) as sender:
                sender.dataframe(df, table_name=table_name, symbols=symbols)
        else:
            with qdbing.Sender(self.host, 9009) as sender:
                sender.dataframe(df, table_name=table_name)
    
    @back_for_better
    def show_all_factors_information(self) -> pd.DataFrame:
        df=self.__get_data("select * from factors_info")
        if 'timestamp' in df.columns:
            df=df.drop(columns=['timestamp'])
        return df
    
    @concat_nosqls
    @back_for_better
    @do_on_dfs_class
    def read_factor(
        self,
        fac_key: str,
        trade_date: Union[int,str,datetime.datetime] = None,
        start_date: Union[int,str,datetime.datetime] = None,
        end_date: Union[int,str,datetime.datetime] = None,
        sql_like: bool = False,
    ) -> pd.DataFrame:
        """通过表名，读取因子数据

        Parameters
        ----------
        fac_key : str
            表的名称或因子的名称
        trade_date : Union[int,str,datetime.datetime], optional
            读取单日因子值，形如20230113或'20230113'或'2023-01-13'或pd.Timestamp('2023-01-13')，指定此参数时，start_date和end_date两个参数将失效, by default None
        start_date : Union[int,str,datetime.datetime], optional
            读取因子值的起始日期，形如20230113或'20230113'或'2023-01-13'或pd.Timestamp('2023-01-13'), by default None
        end_date : Union[int,str,datetime.datetime], optional
            读取因子值的终止日期，形如20230113或'20230113'或'2023-01-13'或pd.Timestamp('2023-01-13'), by default None
        sql_like : bool, optional
            返回的数据为形如sql中的长表，包括日期、股票代码、因子值三列, by default False

        Returns
        -------
        pd.DataFrame
            因子值，index为每天的日期，columns为股票代码，values为因子值
        """
        def date_ok(x):
            if isinstance(x,int):
                date=pd.Timestamp(str(x))
            elif isinstance(x,float):
                date=pd.Timestamp(str(int(x)))
            else:
                date=pd.Timestamp(x)
            date=datetime.datetime.strftime(date,'%Y-%m-%d')
            return date
        
        '''名称部分处理'''
        fac_key,fac_name=self._deal_key_name(fac_key)
        print(f"正在读取{fac_name}的数据")
        
        '''日期部分处理'''
        if trade_date is not None:
            trade_date=date_ok(trade_date)
            sql_order=f"select * from {fac_key} where date='{trade_date}'"
        elif (start_date is not None) and (end_date is not None):
            start_date=date_ok(start_date)
            end_date=date_ok(end_date)
            sql_order=f"select * from {fac_key} where date>='{start_date}' and date<='{end_date}'"
        elif start_date is not None:
            start_date=date_ok(start_date)
            sql_order=f"select * from {fac_key} where date>='{start_date}'"
        elif end_date is not None:
            end_date=date_ok(end_date)
            sql_order=f"select * from {fac_key} where date<='{end_date}'"
        else:
            sql_order=f"select * from {fac_key}"
        
        res=self.__get_data(sql_order)
        if 'timestamp' in res.columns:
            res=res.drop(columns=['timestamp'])
        if not sql_like:
            res=res.pivot(index='date',columns='code',values='fac')
        else:
            res=res.rename(columns={'fac':self.keys_names[fac_key]})

        return res

In [ ]:
show_doc(FactorReader.show_all_factors_information)

---

### FactorReader.show_all_factors_information

>      FactorReader.show_all_factors_information ()

In [ ]:
show_doc(FactorReader.read_factor)

---

### FactorReader.read_factor

>      FactorReader.read_factor (fac_key:str,
>                                trade_date:Union[int,str,datetime.datetime]=Non
>                                e, start_date:Union[int,str,datetime.datetime]=
>                                None,
>                                end_date:Union[int,str,datetime.datetime]=None,
>                                sql_like:bool=False)

通过表名，读取因子数据

|    | **Type** | **Default** | **Details** |
| -- | -------- | ----------- | ----------- |
| fac_key | str |  | 表的名称或因子的名称 |
| trade_date | Union | None | 读取单日因子值，形如20230113或'20230113'或'2023-01-13'或pd.Timestamp('2023-01-13')，指定此参数时，start_date和end_date两个参数将失效, by default None |
| start_date | Union | None | 读取因子值的起始日期，形如20230113或'20230113'或'2023-01-13'或pd.Timestamp('2023-01-13'), by default None |
| end_date | Union | None | 读取因子值的终止日期，形如20230113或'20230113'或'2023-01-13'或pd.Timestamp('2023-01-13'), by default None |
| sql_like | bool | False | 返回的数据为形如sql中的长表，包括日期、股票代码、因子值三列, by default False |
| **Returns** | **DataFrame** |  | **因子值，index为每天的日期，columns为股票代码，values为因子值** |

# 使用示例

In [ ]:
token='eyJhbGciOiJIUzUxMiIsImlhdCI6MTY3NDM5OTUyNSwiZXhwIjoxNzA1OTM1NDgwfQ.eyJpZCI6ImNoZW56b25nd2VpIn0.qF3sSmaBl5XAndzOg1FcBy0A4ztx8zBAOPWfPeVNKZWntcPugKzCnfRgWbQDps-ZtqhnL8fiEwEFWwM9vpwwpg' #|hide_line

## 第一步：实例化一个FactorReader对象，输入token

In [ ]:
fr=FactorReader(token=token) # 初始化一个FactorReader对象，输入token，连接因子数据库

## 第二步：查看当前因子数据库中有哪些因子（此步骤可选）

In [ ]:
fr.show_all_factors_information() # 展示所有可读取因子的相关信息

,数据键名,因子名称,报告题目,微信链接
0,factor1,适度冒险因子,成交量激增时刻蕴含的alpha信息——多因子选股系列研究之一,https://mp.weixin.qq.com/s/2pObrtp3V0dv50MFGg_fhw
1,factor2,完整潮汐因子,个股成交量的潮汐变化及“潮汐”因子构建——多因子选股系列研究之二,https://mp.weixin.qq.com/s/_2xWXM8iyNzYDYolT9vVsw
2,factor3,勇攀高峰因子,个股波动率的变动及”勇攀高峰“因子构建——多因子选股系列研究之三,https://mp.weixin.qq.com/s/-IxH3n-uR0BwOIbOyzqPrw
3,factor4,球队硬币因子,个股动量效应的识别及“球队硬币”因子构建——多因子选股系列研究之四,https://mp.weixin.qq.com/s/JCv8qziZ_ZfTbBE6l8cKOQ
4,factor5,云开雾散因子,波动率的波动率与投资者模糊性厌恶——多因子选股系列研究之五,https://mp.weixin.qq.com/s/vX4I9SpKRF3_HKQOGhtZcQ
5,factor6,飞蛾扑火因子,个股股价跳跃及其对振幅因子的改进——多因子选股系列研究之六,https://mp.weixin.qq.com/s/V8r1Xbz5J0A9D5J_9GD_IA
6,factor8,草木皆兵因子,显著效应、极端收益扭曲决策权重和“草木皆兵”因子——多因子选股系列研究之八,https://mp.weixin.qq.com/s/hdtzQaCF2h6ZjZd-0HAftQ
7,factor9,水中行舟因子,个股成交额的市场跟随性与“水中行舟”因子——多因子选股系列研究之九,https://mp.weixin.qq.com/s/Zv6XX8ddUvBCtG-4LM1MKQ

## 第三步：读取因子数据

### ①读取单日单个因子的数据

In [ ]:
fr.read_factor('球队硬币',trade_date=20230113) # 读取球队硬币因子在2023年1月13日的因子数据

正在读取球队硬币因子的数据

,code,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,871970.BJ,871981.BJ,872374.BJ,872808.BJ,872925.BJ,873122.BJ,873169.BJ,873223.BJ,873339.BJ,873527.BJ
name,date,,,,,,,,,,,,,,,,,,,,,
球队硬币因子,2023-01-13,-4.479527,-1.47697,0.172361,-0.525152,7.266575,1.433193,-1.33002,-0.899924,-2.360796,0.807718,...,-0.154036,-1.409746,-1.60706,-3.149078,-1.387175,1.529117,-2.25925,-1.201434,-0.632537,-1.000806

In [ ]:
fr.read_factor('factor4',trade_date='20230113') # 读取方正金工多因子系列第4篇的因子在2023年1月13日的因子数据

正在读取球队硬币因子的数据

,code,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,871970.BJ,871981.BJ,872374.BJ,872808.BJ,872925.BJ,873122.BJ,873169.BJ,873223.BJ,873339.BJ,873527.BJ
name,date,,,,,,,,,,,,,,,,,,,,,
球队硬币因子,2023-01-13,-4.479527,-1.47697,0.172361,-0.525152,7.266575,1.433193,-1.33002,-0.899924,-2.360796,0.807718,...,-0.154036,-1.409746,-1.60706,-3.149078,-1.387175,1.529117,-2.25925,-1.201434,-0.632537,-1.000806

### ②读取多个交易日单个因子的数据

In [ ]:
fr.read_factor('球队硬币',start_date='2023-01-01',end_date=pd.Timestamp('20230113')) # 读取球队硬币因子从2023年1月1日至2023年1月13日的因子数据

正在读取球队硬币因子的数据

code               000001.SZ  000002.SZ  000004.SZ  000005.SZ  000006.SZ  \
name   date
球队硬币因子 2023-01-03  -2.358642  -1.345033   1.162492   0.007223   8.697314
       2023-01-04  -3.250196  -0.612765   1.104373  -0.604997   8.853588
       2023-01-05  -3.612259  -0.353330   0.683165  -0.712644   8.803313
       2023-01-06  -3.458540  -0.674148   0.220243  -0.950252   8.786346
       2023-01-09  -3.354882  -0.170424   0.087265  -1.711030   8.091143
       2023-01-10  -4.085837  -1.136618   0.041872  -1.484979   8.123063
       2023-01-11  -4.299566  -1.225560   0.273944  -1.030241   7.683715
       2023-01-12  -4.378207  -1.189928   0.237218  -0.655933   7.894500
       2023-01-13  -4.479527  -1.476970   0.172361  -0.525152   7.266575

code               000007.SZ  000008.SZ  000009.SZ  000010.SZ  000011.SZ  ...  \
name   date                                                               ...
球队硬币因子 2023-01-03   1.189680  -1.702174  -1.052431  -0.854015   3.398331  ...
       2023-01-04   0.434524  -2.027665  -1.078369  -1.319052   2.476316  ...
       2023-01-05   0.304470  -1.978654  -0.557577  -1.869844   2.610491  ...
       2023-01-06   0.500339  -1.828122   0.267091  -0.781898   2.299623  ...
       2023-01-09   0.268643  -1.913154  -0.324667  -1.089943   1.179651  ...
       2023-01-10   0.195857  -1.755869  -0.714262  -1.289059   1.667330  ...
       2023-01-11   0.762255  -1.444859  -1.031784  -1.868811   1.372701  ...
       2023-01-12   0.988860  -1.450630  -1.049240  -1.932018   0.904318  ...
       2023-01-13   1.433193  -1.330020  -0.899924  -2.360796   0.807718  ...

code               871970.BJ  871981.BJ  872374.BJ  872808.BJ  872925.BJ  \
name   date
球队硬币因子 2023-01-03  -0.103756  -1.137786  -1.021316  -3.253337  -1.775420
       2023-01-04  -0.088794  -1.116035  -1.024373  -3.126951  -1.740175
       2023-01-05   0.010475  -1.115315  -1.121056  -3.268384  -1.753120
       2023-01-06   0.104238  -1.345124  -1.070172  -3.192394  -1.628848
       2023-01-09  -0.123814  -1.324068  -1.377389  -2.946315  -1.259563
       2023-01-10  -0.029769  -1.338608  -1.484683  -2.848317  -1.314678
       2023-01-11  -0.206762  -1.307175  -1.599752  -2.857639  -1.415516
       2023-01-12  -0.191873  -1.521329  -1.559142  -2.887370  -1.321903
       2023-01-13  -0.154036  -1.409746  -1.607060  -3.149078  -1.387175

code               873122.BJ  873169.BJ  873223.BJ  873339.BJ  873527.BJ
name   date
球队硬币因子 2023-01-03   2.468078  -1.900470  -1.004885  -0.407954  -0.799920
       2023-01-04   2.741972  -2.164878  -0.959739  -0.397286  -0.845371
       2023-01-05   1.020633  -2.132997  -0.893447  -0.449713  -0.817057
       2023-01-06   0.600370  -2.126244  -0.904670  -0.537109  -1.108383
       2023-01-09   0.275815  -2.065566  -0.973450  -0.591639  -1.083805
       2023-01-10   0.641713  -2.152910  -1.013984  -0.605380  -1.022534
       2023-01-11   0.442734  -2.249102  -1.216501  -0.698812  -1.035341
       2023-01-12   1.245503  -2.358448  -1.253710  -0.652938  -1.087562
       2023-01-13   1.529117  -2.259250  -1.201434  -0.632537  -1.000806

[9 rows x 5031 columns]

In [ ]:
fr.read_factor('factor4',start_date=20230101,end_date=20230113,sql_like=True) # 以sql的形式，读取方正金工多因子系列第4篇的因子从2023年1月1日至2023年1月13日的因子数据

正在读取球队硬币因子的数据

            code       date    球队硬币因子
0      000001.SZ 2023-01-03 -2.358642
1      000002.SZ 2023-01-03 -1.345033
2      000004.SZ 2023-01-03  1.162492
3      000005.SZ 2023-01-03  0.007223
4      000006.SZ 2023-01-03  8.697314
...          ...        ...       ...
45156  873122.BJ 2023-01-13  1.529117
45157  873169.BJ 2023-01-13 -2.259250
45158  873223.BJ 2023-01-13 -1.201434
45159  873339.BJ 2023-01-13 -0.632537
45160  873527.BJ 2023-01-13 -1.000806

[45161 rows x 3 columns]

### ③读取多个交易日多个因子的因子数据

In [ ]:
fr.read_factor(['球队硬币','云开雾散'],start_date='20230101',end_date='20230113') # 分别读取球队硬币因子和云开雾散因子从2023年1月1日至2023年1月13日的因子数据

正在读取球队硬币因子的数据
正在读取云开雾散因子的数据

code               000001.SZ  000002.SZ  000004.SZ  000005.SZ  000006.SZ  \
name   date
球队硬币因子 2023-01-03  -2.358642  -1.345033   1.162492   0.007223   8.697314
       2023-01-04  -3.250196  -0.612765   1.104373  -0.604997   8.853588
       2023-01-05  -3.612259  -0.353330   0.683165  -0.712644   8.803313
       2023-01-06  -3.458540  -0.674148   0.220243  -0.950252   8.786346
       2023-01-09  -3.354882  -0.170424   0.087265  -1.711030   8.091143
       2023-01-10  -4.085837  -1.136618   0.041872  -1.484979   8.123063
       2023-01-11  -4.299566  -1.225560   0.273944  -1.030241   7.683715
       2023-01-12  -4.378207  -1.189928   0.237218  -0.655933   7.894500
       2023-01-13  -4.479527  -1.476970   0.172361  -0.525152   7.266575
云开雾散因子 2023-01-03  -0.981326  -0.944349  -0.997003   4.198288   3.824620
       2023-01-04  -0.874760  -0.565374  -1.418436  -2.256764   3.836005
       2023-01-05  -0.254081  -0.614854  -1.407234  -2.364404   3.869275
       2023-01-06  -0.291150  -0.524840  -1.476704  -3.120565   3.906959
       2023-01-09  -0.311834  -0.652490  -1.435259  -3.156991   3.906213
       2023-01-10  -0.252993  -0.673770  -1.452988  -3.094026   4.145813
       2023-01-11  -0.108614  -0.409360  -1.538049  -3.050843   4.022810
       2023-01-12  -0.019939  -0.348093  -1.517629  -3.235680   4.079903
       2023-01-13   0.004401  -0.231196  -1.393393  -3.245165   3.799570

code               000007.SZ  000008.SZ  000009.SZ  000010.SZ  000011.SZ  ...  \
name   date                                                               ...
球队硬币因子 2023-01-03   1.189680  -1.702174  -1.052431  -0.854015   3.398331  ...
       2023-01-04   0.434524  -2.027665  -1.078369  -1.319052   2.476316  ...
       2023-01-05   0.304470  -1.978654  -0.557577  -1.869844   2.610491  ...
       2023-01-06   0.500339  -1.828122   0.267091  -0.781898   2.299623  ...
       2023-01-09   0.268643  -1.913154  -0.324667  -1.089943   1.179651  ...
       2023-01-10   0.195857  -1.755869  -0.714262  -1.289059   1.667330  ...
       2023-01-11   0.762255  -1.444859  -1.031784  -1.868811   1.372701  ...
       2023-01-12   0.988860  -1.450630  -1.049240  -1.932018   0.904318  ...
       2023-01-13   1.433193  -1.330020  -0.899924  -2.360796   0.807718  ...
云开雾散因子 2023-01-03  -0.305261  -2.440184   1.778184  -1.547923   2.822911  ...
       2023-01-04  -0.601352  -1.189656   1.456942  -1.902164   2.427931  ...
       2023-01-05  -1.362426  -1.225968   1.424493  -1.910795   2.395279  ...
       2023-01-06  -1.295554  -1.253691  -0.280816   0.352601   2.508948  ...
       2023-01-09  -1.317670  -1.064004  -0.284044   0.241210   2.511567  ...
       2023-01-10  -1.365568  -0.990502   0.061734  -0.068599   2.412575  ...
       2023-01-11  -1.322641  -0.947558  -0.022587  -0.226062   1.874980  ...
       2023-01-12  -1.376875  -0.880969   0.259599  -0.196476   1.914316  ...
       2023-01-13  -1.262185  -0.851256  -0.057122  -0.185930   2.013694  ...

code               600729.SH  601136.SH  603029.SH  688141.SH  688147.SH  \
name   date
球队硬币因子 2023-01-03        NaN        NaN        NaN        NaN        NaN
       2023-01-04        NaN        NaN        NaN        NaN        NaN
       2023-01-05        NaN        NaN        NaN        NaN        NaN
       2023-01-06        NaN        NaN        NaN        NaN        NaN
       2023-01-09        NaN        NaN        NaN        NaN        NaN
       2023-01-10        NaN        NaN        NaN        NaN        NaN
       2023-01-11        NaN        NaN        NaN        NaN        NaN
       2023-01-12        NaN        NaN        NaN        NaN        NaN
       2023-01-13        NaN        NaN        NaN        NaN        NaN
云开雾散因子 2023-01-03   0.075872        NaN  10.216414        NaN        NaN
       2023-01-04  -0.314115        NaN  10.224871        NaN        NaN
       2023-01-05   0.032488        NaN   9.917723        NaN        NaN
       2023-01-06  -0.088864        NaN  10.332152  -0.121816   0.644811
       2023-01-09  -0.100726        NaN  10.451378  -0.121408   1.479927
       2023-01-10   0.860030        NaN   9.994998   0.123399   1.412554
       2023-01-11   0.648488        NaN   9.835279   0.198591   1.260357
       2023-01-12   0.535920   1.512769   9.753503   0.156961   1.249535
       2023-01-13   0.495339   1.413564  10.744896   0.049216   1.246484

code               688410.SH  688475.SH  688496.SH  688498.SH  688525.SH
name   date
球队硬币因子 2023-01-03        NaN        NaN        NaN        NaN        NaN
       2023-01-04        NaN        NaN        NaN        NaN        NaN
       2023-01-05        NaN        NaN        NaN        NaN        NaN
       2023-01-06        NaN        NaN        NaN        NaN        NaN
       2023-01-09        NaN        NaN        NaN        NaN        NaN
       2023-01-10        NaN        NaN        NaN        NaN        NaN
       2023-01-11        NaN        NaN        NaN        NaN        NaN
       2023-01-12        NaN        NaN        NaN        NaN        NaN
       2023-01-13        NaN        NaN        NaN        NaN        NaN
云开雾散因子 2023-01-03        NaN        NaN        NaN        NaN        NaN
       2023-01-04        NaN        NaN        NaN   1.156921        NaN
       2023-01-05        NaN        NaN        NaN   1.120350        NaN
       2023-01-06        NaN        NaN        NaN   0.950078        NaN
       2023-01-09   5.190031        NaN        NaN   0.766178        NaN
       2023-01-10   4.865995        NaN        NaN   0.620676        NaN
       2023-01-11   4.532315  -0.258927   5.210400   0.535665        NaN
       2023-01-12   4.326597  -0.321834   6.574250   0.675663        NaN
       2023-01-13   4.145088  -0.311057   6.269974   0.711562   2.872292

[18 rows x 5051 columns]

In [ ]:
fr.read_factor(['球队硬币','云开雾散'],trade_date=20230113)

正在读取球队硬币因子的数据
正在读取云开雾散因子的数据

,code,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,601136.SH,601828.SH,603029.SH,688141.SH,688147.SH,688410.SH,688475.SH,688496.SH,688498.SH,688525.SH
name,date,,,,,,,,,,,,,,,,,,,,,
球队硬币因子,2023-01-13,-4.479527,-1.476970,0.172361,-0.525152,7.266575,1.433193,-1.330020,-0.899924,-2.360796,0.807718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
云开雾散因子,2023-01-13,0.004401,-0.231196,-1.393393,-3.245165,3.799570,-1.262185,-0.851256,-0.057122,-0.185930,2.013694,...,1.413564,-1.029826,10.744896,0.049216,1.246484,4.145088,-0.311057,6.269974,0.711562,2.872292

In [ ]:
fr.read_factor(['球队硬币','云开雾散','飞蛾扑火'],start_date=pd.Timestamp('20230101'),end_date=20230113,sql_like=True) # 以sql的形式，分别读取球队硬币因子、云开雾散因子、飞蛾扑火因子从2023年1月1日至2023年1月13日的因子数据

正在读取球队硬币因子的数据
正在读取云开雾散因子的数据
正在读取飞蛾扑火因子的数据

            code       date    球队硬币因子    云开雾散因子     飞蛾扑火因子
0      000001.SZ 2023-01-03 -2.358642 -0.981326  -1.211546
1      000002.SZ 2023-01-03 -1.345033 -0.944349  -0.747704
2      000004.SZ 2023-01-03  1.162492 -0.997003  -1.218871
3      000005.SZ 2023-01-03  0.007223  4.198288  -0.089553
4      000006.SZ 2023-01-03  8.697314  3.824620   6.631622
...          ...        ...       ...       ...        ...
45339  601136.SH 2023-01-11       NaN       NaN   5.024700
45340  000153.SZ 2023-01-12       NaN       NaN   0.393949
45341  001301.SZ 2023-01-12       NaN       NaN  19.764352
45342  000153.SZ 2023-01-13       NaN       NaN   0.170282
45343  001301.SZ 2023-01-13       NaN       NaN  18.466382

[45344 rows x 5 columns]

In [ ]:
fr.read_factor(['球队硬币','云开雾散','飞蛾扑火'],trade_date=20230113,sql_like=True) # 以sql的形式，分别读取球队硬币因子、云开雾散因子、飞蛾扑火因子2023年1月13日的因子数据

正在读取球队硬币因子的数据
正在读取云开雾散因子的数据
正在读取飞蛾扑火因子的数据

           code       date    球队硬币因子    云开雾散因子     飞蛾扑火因子
0     000001.SZ 2023-01-13 -4.479527  0.004401  -0.998530
1     000002.SZ 2023-01-13 -1.476970 -0.231196  -1.130896
2     000004.SZ 2023-01-13  0.172361 -1.393393  -1.336336
3     000005.SZ 2023-01-13 -0.525152 -3.245165  -0.817511
4     000006.SZ 2023-01-13  7.266575  3.799570   6.540436
...         ...        ...       ...       ...        ...
5047  688496.SH 2023-01-13       NaN  6.269974  18.157132
5048  688498.SH 2023-01-13       NaN  0.711562   4.649791
5049  688525.SH 2023-01-13       NaN  2.872292        NaN
5050  000153.SZ 2023-01-13       NaN       NaN   0.170282
5051  001301.SZ 2023-01-13       NaN       NaN  18.466382

[5052 rows x 5 columns]

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()